extends layout

block content
  h1.text-center Shopping Cart
  a(href='/products/add') Add Custom Product
  br
  a(href='/products') See All Products
  div
    table.table
      thead
        tr 
          th Products
          th Description
          th Price
          th Remove Product
      tbody
        each product in products
          tr(data-_id='#{product._id}')
            td #{product.name}
            td #{product.description}
            td #{product.price}
            td
              a.delete Remove Product
block script
  script(src='../javascripts/main.js')